/.metadata/
../django_app_server/
smart_home_v3/*.log
/smart_home_v3/control_panel/__pycache__/*.pyc
smart_home_v3/db.sqlite3
devices/__pycache__/*.pyc
.vscode/
smart_home_v3/control_panel/__pycache__/views.cpython-313.pyc
smart_home_v3/general.log
/smart_home_comm_v1/__pycache__/serial.cpython-313.pyc