{% extends "base_device_template.html" %}

{% block device %}
<h2>Add Device</h2>
<form id="add_device" method="post">
  {% csrf_token %}
  <label>Device Name:</label>
  <input type="text" id="id_device_name" name="device_name">
  <label for="id_device_type">Device Type:</label>
  <select id="id_device_type" name="device_type">
    <option value="Light">Light</option>
    <option value="Lock">Lock</option>
    <option value="Camera">Camera</option>
  </select>
  <button value="device_confirmation">Add Device</button>
</form>

{% if device_added %}
<p>The device <b>{{device.name}}</b> of type <b>{{device.type}}</b> has been created.</p>
{% endif %}

{% endblock %}
