{% extends "base_template.html" %}

{% block content %}

<h2>Update Device</h2>
<form id="update_device" method="post">
  {% csrf_token %}
  <label>Select Device:</label>
  <select id="id_device_name" name="device_name">
    {% for x in all_devices %}
      <option value="{{x.device_name}}">{{ x.device_name }}</option>
    {% endfor %}
  </select>
  <br>
  <label>New Name:</label>
  <input type="text" id="id_new_device_name" name="new_device_name">
  <label for="id_new_device_type">New Type:</label>
  <select id="id_new_device_type" name="new_device_type">
    <option value="Light">Light</option>
    <option value="Lock">Lock</option>
    <option value="Camera">Camera</option>
  </select>
  <button value="update_confirmation">Update Device</button>
</form>

<a href="/">Home</a>

{% endblock %}