{% extends "base_template.html" %}

{% block content %}
<h2>Control Panel</h2>

{% block controller_title %}
<p>Select a Device:</p>
{% endblock %}

<form id="select_device" method="post">
  {% csrf_token %}
  <select id="id_device_id" name="device_id" >
    {% for x in all_devices %}
      <option value="{{x.id}}">{{ x.device_name }}</option>
    {% endfor %}
  </select>
  <button value="btn_device_id">Select</button>
</form>
   
<br>

{% block controller %}
{% endblock %}

<br>
<a href="/">Home</a>

{% endblock %}