{% extends "base_template.html" %}

{% block content %}
<h2>Control Panel</h2>

<form id="button_test" method="post">
  {% csrf_token %}
  <select id="id_device_name" name="device_name">
    {% for x in all_devices %}
      <option value="{{x.device_name}}">{{ x.device_name }}</option>
    {% endfor %}
  </select>
  <select id="id_device_type" name="device_type">
    {% for x in all_devices %}
      <option value="{{x.device_type}}">{{ x.device_type }}</option>
    {% endfor %}
  </select>
  <br>
  {% block controller %}
  {% endblock %}
</form>


<a href="/">Home</a>

{% endblock %}