{% extends "base_controller_template.html" %}

{% block controller_title %}
{% if controller == 'light_controller' %}
	<p>Light Controller:</p>
{% elif controller == 'lock_controller' %}
	<p>Lock Controller:</p>
{% elif controller == 'camera_controller' %}
	<p>Camera Controller:</p>
{% else %}
	<p>Select a Device:</p>
{% endif %}

{% endblock %}

{% block controller %}
<p>Device Name: {{ selected_device.device_name }}</p>
<p>Device type: {{ selected_device.device_type }}</p>

{% if controller == 'light_controller' %}
  <label>Light On:</label>
  <input type="radio" id="id_on_state" name="light_state" value="on">
  <label>Light Off:</label>
  <input type="radio" id="id_off_state" name="light_state" value="off">
  <button value="turn_on">Submit</button>
{% elif controller == 'lock_controller' %}
  <label>Lock:</label>
  <input type="radio" id="id_locked_state" name="lock_state" value="lock">
  <label>Unlock:</label>
  <input type="radio" id="id_unlocked_state" name="lock_state" value="unlock">
  <button value="submit_lock_state">Submit</button>
{% elif controller == 'camera_controller' %}
  <p>TBC</p>
{% else %}
<p></p>
{% endif %}

{% endblock %}
