{% extends "base_controller_template.html" %}

{% block controller_title %}
{% if controller == 'light_controller' %}
	<p>Light Controller:</p>
{% elif controller == 'lock_controller' %}
	<p>Lock Controller:</p>
{% elif controller == 'camera_controller' %}
	<p>Camera Controller:</p>
{% else %}
	<p>Select a Device:</p>
{% endif %}

{% endblock %}

{% block controller %}
{% if device_selected %}
  <p>Device Name: {{ device.name }}</p>
  <p>Device type: {{ device.type }}</p>

  <form id="control_device" method="post">
    {% csrf_token %}
    {% if controller == 'light_controller' %}
      <label>Light On:</label>
      <input type="radio" id="id_on_state" name="device_state" value="on">
      <label>Light Off:</label>
      <input type="radio" id="id_off_state" name="device_state" value="off">
      <button value="turn_on">Submit</button>
    {% elif controller == 'lock_controller' %}
      <label>Lock:</label>
      <input type="radio" id="id_locked_state" name="device_state" value="lock">
      <label>Unlock:</label>
      <input type="radio" id="id_unlocked_state" name="device_state" value="unlock">
      <button value="submit_lock_state">Submit</button>
    {% elif controller == 'camera_controller' %}
      <p>TBC</p>
    {% else %}
      <p></p>
    {% endif %}
  </form>

  {% if confirm_device_state %}
    <p>The device state is: {{device.state}} </p>
  {% endif %}

{% endif %}

{% endblock %}
